#yolo
/yolov4-deepsort/checkpoints/yolov4-416/
/yolov4-deepsort/data/yolov4.weights

#Facial+OpenPose
/Facial+OpenPose/faces/
/Facial+OpenPose/poses/

#TeamProject
/TeamProject/poses/pose_iter_160000.caffemodel
